.addForm{
    display: none;  /*невидимость блока*/
}
button.add{/*стили кнопки*/
    width:100%;
    height:50px;
    background-color:gray;
    color:white;
    font-size: large;
}
button.role{
    width:100%;
    height: 37px;
    background-color: white;
    text-align: left;
}
.allRoles{
    display: none;
}
input{
    width: 100%;
    height: 25px;

    font-size: medium;
}
.center{
    text-align: center;
}
button.addFinish{
    background-color: lawngreen;
    width: 10%;
    height: 30px;
}

h1{
    text-align: center;
}
.studentstable{
    display: none;
}
table{
    width: 100%;
}

th {
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
}