<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/cssandjs/mainscript.js}"></script>
    </script>
</head>
<body>
    <div class="adminpage">
        <h1>Администратор системы</h1>
        <button class="add" type="button" onclick="openAddForm()">Добавить пользователя</button><!--кнопка при нажатии на которую срабатывает функция openAddForm-->
    <div class="addForm" id="addForm">
        <p> Фамилия</p>
        <input id="surname"><!-- поле для ввода--> 
        <p>Имя</p>
        <input id="name">
        <p>Отчество</p>
        <input id="middlename">
        <p>Роль</p>
        <p><button class="role" type="button" id="roleText"onclick="openChooseRole()">Выбрать роль</button></p><!--кнопка при нажатии на которую срабатывает функция openChooseRole-->
        <div class="allRoles" id="allRoles">
            <button class="role" type="button" onclick="switchRole(1)">Учитель</button><!--кнопка при нажатии на которую срабатывает функция switchRole-->
            <button class="role" type="button" onclick="switchRole(2)">Ученик</button>
            <button class="role" type="button" onclick="switchRole(3)">Администратор</button>
        </div>
        <p>Логин</p>
        <input id="login">
        <p>Пароль</p>
        <input id="pass">
        <div class="center">
        <p><button class="addFinish" type="button" onclick="addUser()">Добавить</button></p>
        </div>
    </div>
    <p><button class="add" type="button" onclick="openGroup()">Группы</button></p>
    </div> 
       <div class="studentstable" id="groups">
        <div class="center">
            <h2>Создать группу</h2>
        </div>
        <p>Название группы</p>
         <input id=groupName>
         <div class="center">
        <p><button class="addFinish" type="button" onclick="createGroup()">Создать</button></p>
    </div>
    <div class="center">
        <h2>Добавить ученика в группу</h2>
    </div>
    <p>Название группы</p>
         <input id=groupName2>
         <p>Логин</p>
         <input id="studentLogin">
         <div class="center">
            <p><button class="addFinish" type="button" onclick="studentAddInGroup()">Добавить</button></p>
        </div>
        <div class="center">
            <h2>Назначить учителя группе</h2>

        </div>
        <p>Название группы</p>
             <input id=groupName3>
             <p>Логин</p>
             <input id="teacherLogin">
             <div class="center">
                <p><button class="addFinish" type="button" onclick="teacherAddInGroup()">Назначить</button></p>
            </div>
           <table>
               <tr><th>номер</th><th>название группы</th></tr>
               <tr th:each="people : ${people}">
                   <td th:text="${people.login}">&nbsp;</td>
                   <td th:text="${people.pass}">&nbsp;</td>
               </tr>
           </table>
       </div>
</body>
</html>