<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/vxodstyles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/cssandjs/login.js}"></script>
    <title></title>
</head>
<body>
    <h1>Вход в систему</h1>
    <div class="vxodpage">
        <p >Логин</p>
        <input type="text" id="login">
        <p >Пароль</p>
        <input type="password" id="password">
        <p><button class="vxod" onclick="logIn()">Войти</button></p>
    </div>
</body>