<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/cssandjs/notest.css}" rel="stylesheet" />
    <title>тест сейчас не идёт</title>
</head>
<body>
    <h1>тест закончился или не начался</h1>
</body>
</html>