<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/styles/cssandjs/studentstyles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/cssandjs/studentscript.js}"></script>
    <title></title>
    </script>
    </script>
</head>
<body>
    <div class="studentPage">
    <h1>Ученик</h1>
    <p><button class="open" onclick="showTests()">Тесты</button></p>
    <div class="tests" id="tests">

    </div>
    </div>
    <script>getTests()</script>
</body>